.advantageBlock {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  background-color: #4e659a5f;
  border-bottom: solid 2px #2a75ee6e;
}

@keyframes fillThenFade {
  0% {
    width: 0%;
    opacity: 1;
  }
  97% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}

.progressBackground {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, rgba(136, 166, 255, 0.2) 0%, rgba(130, 174, 255, 0.4) 100%);
}

.fillThenFade {
  animation: fillThenFade 12s linear forwards;
}

.content {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: max-content minmax(0, 1fr);
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 4px;
}

.iconContainer {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 4px;
}

.activeIconContainer {
  background: linear-gradient(to bottom, #79ffa0, #b3fbc0);
}

.icon {
  width: 36px;
  height: 36px;
  object-fit: contain;
}
