/* Keyframes for opacity animation */
@keyframes appear-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Keyframes for scale animation */
@keyframes appear-scale {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

/* Keyframes for combined animation */
@keyframes appear-opacity-scale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Class for opacity animation */
.appear-opacity {
  animation: appear-opacity linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

/* Class for scale animation */
.appear-scale {
  animation: appear-scale linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

/* Class for scale animation */
.appear-opacity-scale {
  animation: appear-opacity-scale linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

/* Keyframes for move skewed up animation */
@keyframes appear-move-skewed-up {
  from {
    opacity: 0;
    /* bottom-right offset: 60px down, 16px right */
    transform: translate(32px, -120px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Keyframes for move skewed down animation */
@keyframes appear-move-skewed-down {
  from {
    opacity: 0;
    /* top-left offset: 60px up, 16px left */
    transform: translate(-32px, 120px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Class for move skewed up animation */
.appear-move-skewed-up {
  animation: appear-move-skewed-up 1s linear forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 45%;
}

/* Class for move skewed down animation */
.appear-move-skewed-down {
  animation: appear-move-skewed-down 1s linear forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 45%;
}
