@keyframes appear-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear-scale {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

@keyframes appear-opacity-scale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.appear-opacity {
  animation: appear-opacity linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.appear-scale {
  animation: appear-scale linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.appear-opacity-scale {
  animation: appear-opacity-scale linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes appear-move-skewed-up {
  from {
    opacity: 0;
    transform: translate(32px, -120px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes appear-move-skewed-down {
  from {
    opacity: 0;
    transform: translate(-32px, 120px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.appear-move-skewed-up {
  animation: appear-move-skewed-up 1s linear forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 45%;
}

.appear-move-skewed-down {
  animation: appear-move-skewed-down 1s linear forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 45%;
}

@keyframes appear-slide-right {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appear-slide-left {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.appear-slide-right {
  animation: appear-slide-right 1s ease-out forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}

.appear-slide-left {
  animation: appear-slide-left 1s ease-out forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}
